.App {
  text-align: center;
}

.task-container {
  display: flex;
  justify-content: space-around;
}

.task-column {
  width: 30%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.task-column h2 {
  margin-bottom: 10px;
}

.task-column ul {
  list-style-type: none;
  padding: 0;
}

.task-column input {
  margin-top: 5px;
  width: calc(100% - 20px);
  padding: 5px;
}

.task-column button {
  margin-top: 5px;
  width: calc(100% - 20px);
  padding: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-column li {
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.task-column li .task {
  display: inline-block;
  margin-right: 10px;
}

.task-column li .buttons {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.task-column li .buttons button {
  margin-right: 5px;
}


.task-column button:hover {
  background-color: #0056b3;
}
